<form name="p24" action="https://cart.przelewy24.pl/index/add" method="post" accept-charset="utf-8">
  <input type="hidden" name="p24_crc" value="41c75516d38a4fd1" />
  <input type="hidden" name="p24_id_salesman" value="97190" />
  <input type="hidden" name="p24_salesman_key" value="eea36f0c" />
  <input type="hidden" name="p24_currency" value="pln">
  <input type="hidden" name="p24_name" value="{{ aukcje.title }} - format rzeczywisty" />
  <input type="hidden" name="p24_amount" value="{{ aukcje.price | times:100 }}" />
  <input class="buy-button przelewy-add-item" type="submit" name="" value="Kupuję wielkość 1:1 ({{ aukcje.price }} zł)" />
  <input type="hidden" name="p24_add" value="1" />
</form>
{% if aukcje.price-1 %}
<form name="p24" action="https://cart.przelewy24.pl/index/add" method="post" accept-charset="utf-8">
  <input type="hidden" name="p24_crc" value="41c75516d38a4fd1" />
  <input type="hidden" name="p24_id_salesman" value="97190" />
  <input type="hidden" name="p24_salesman_key" value="eea36f0c" />
  <input type="hidden" name="p24_currency" value="pln">
  <input type="hidden" name="p24_name" value="{{ aukcje.title }} - zmniejszone" />
  <input type="hidden" name="p24_amount" value="{{ aukcje.price-1 | times:100 }}" />
  <input class="buy-button przelewy-add-item" type="submit" name="" value="Kupuję wielkość zmniejszoną ({{ aukcje.price-1 }} zł)" />
  <input type="hidden" name="p24_add" value="1" />
</form>
{% endif %}