<form name="p24" action="https://cart.przelewy24.pl/index/add" method="post" accept-charset="utf-8">
  <input type="hidden" name="p24_crc" value="41c75516d38a4fd1" />
  <input type="hidden" name="p24_id_salesman" value="97190" />
  <input type="hidden" name="p24_salesman_key" value="eea36f0c" />
  <input type="hidden" name="p24_currency" value="pln">
  <input type="hidden" name="p24_name" value="{{ books.title }}" />
  <input type="hidden" name="p24_amount" value="{{ books.price | times:100 }}" />
  <input class="buy-button przelewy-add-item" type="submit" name="" value="Kupuje ({{ books.price }} zł)" />
  <input type="hidden" name="p24_add" value="1" />
</form>
{% if books.price-gift %}
<form name="p24" action="https://cart.przelewy24.pl/index/add" method="post" accept-charset="utf-8">
  <input type="hidden" name="p24_crc" value="41c75516d38a4fd1" />
  <input type="hidden" name="p24_id_salesman" value="97190" />
  <input type="hidden" name="p24_salesman_key" value="eea36f0c" />
  <input type="hidden" name="p24_currency" value="pln">
  <input type="hidden" name="p24_name" value="{{ books.title }} - zapakowane na prezent" />
  <input type="hidden" name="p24_amount" value="{{ books.price-gift | times:100 }}" />
  <input class="buy-button przelewy-add-item" type="submit" name="" value="Kupuje zapakowane na prezent ({{ books.price-gift }} zł)" />
  <input type="hidden" name="p24_add" value="1" />
</form>
{% endif %}
