<form method="get" action="https://sklep.przelewy24.pl/zakup.php">
<input type="hidden" name="z24_id_sprzedawcy" value="97190">
<input type="hidden" name="z24_crc" value="41c75516d38a4fd1">
<input type="hidden" name="z24_language" value="pl">
<input type="hidden" name="z24_return_url" value="https://www.noweteraz.pl/">
<input type="hidden" name="z24_nazwa" value="{{ aukcje.title }}">
<input type="hidden" name="z24_kwota" value="{{ aukcje.price | times:100 }}">
<input class="buy-button" type="submit" value="Kupuje wielkość 1:1 ({{ aukcje.price }} zł)" />
</form>
{% if aukcje.price-1 %}
<form method="get" action="https://sklep.przelewy24.pl/zakup.php">
<input type="hidden" name="z24_id_sprzedawcy" value="97190">
<input type="hidden" name="z24_crc" value="41c75516d38a4fd1">
<input type="hidden" name="z24_language" value="pl">
<input type="hidden" name="z24_return_url" value="https://www.noweteraz.pl/">
<input type="hidden" name="z24_nazwa" value="{{ aukcje.title }}">
<input type="hidden" name="z24_kwota" value="{{ aukcje.price-1 | times:100 }}">
<input class="buy-button" type="submit" value="Kupuje wielkość zmniejszoną ({{ aukcje.price-1 }} zł)" />
</form>
{% endif %}